n8n_workflows/00_morning_startup.json
{
  "name": "MKUMARAN - 00 Morning Startup (Token + MWA + Momentum)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "35 7 * * 1-5"
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Schedule 7:35 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check if today is a market holiday (NSE holidays 2026)\nconst now = new Date();\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst ist = new Date(now.getTime() + istOffset);\nconst dateStr = ist.toISOString().slice(0, 10);\n\nconst holidays = [\n  '2026-01-15', '2026-01-26', '2026-03-03', '2026-03-26',\n  '2026-03-31', '2026-04-03', '2026-04-14', '2026-05-01',\n  '2026-05-28', '2026-06-26', '2026-09-14', '2026-10-02',\n  '2026-10-20', '2026-11-10', '2026-11-24', '2026-12-25'\n];\n\nif (holidays.includes(dateStr)) {\n  return [];  // Skip — market holiday\n}\nreturn [{ json: { trading_day: true, date: dateStr } }];"
      },
      "id": "a1000000-0000-4000-8000-000000000016",
      "name": "Holiday Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/refresh_kite_token",
        "options": {
          "timeout": 30000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "a1000000-0000-4000-8000-000000000012",
      "name": "Refresh Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/connect_kite",
        "options": {
          "timeout": 30000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Connect Kite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.kite_connected }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Kite Connected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=699992965"
            },
            {
              "name": "text",
              "value": "=\u26a0\ufe0f Kite Token Refresh FAILED\n\nError: {{ $json.message }}\n\nManual login needed at https://kite.zerodha.com"
            }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Alert Kite Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "amount": 70,
        "unit": "minutes"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Wait Until 8:45",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/run_mwa_scan",
        "options": { "timeout": 120000, "allowUnauthorizedCerts": true }
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Run MWA Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/signal_accuracy",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Get Accuracy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "functionCode": "const mwa = $input.first().json;\nconst accuracy = $input.last().json;\n\nreturn [{ json: {\n  report_type: 'morning',\n  data: {\n    mwa: { direction: mwa.direction, bull_pct: mwa.bull_pct, bear_pct: mwa.bear_pct, active_chains: (mwa.active_chains || []).length, chain_boost: mwa.chain_boost, promoted_stocks: mwa.promoted_stocks || [], scanner_count: mwa.scanner_count },\n    accuracy: { win_rate: accuracy.win_rate, total_pnl_rs: accuracy.total_pnl_rs, open: accuracy.open }\n  },\n  promoted: mwa.promoted_stocks || []\n} }];"
      },
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "Collect Morning Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/ai_report",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ report_type: $json.report_type, data: $json.data }) }}",
        "options": { "timeout": 60000, "allowUnauthorizedCerts": true }
      },
      "id": "a1000000-0000-4000-8000-000000000017",
      "name": "Generate AI Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1875, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            { "name": "text", "value": "={{ $json.report }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a1000000-0000-4000-8000-000000000009",
      "name": "Send Morning Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/api/momentum",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a1000000-0000-4000-8000-000000000010",
      "name": "Get Momentum",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "functionCode": "const momentum = $input.first().json;\nconst rankings = momentum.rankings || [];\nconst holdings = momentum.holdings || [];\nconst signals = momentum.signals || [];\n\nif (rankings.length === 0) {\n  return [];\n}\n\nconst top5 = rankings.slice(0, 5).map(r => {\n  const ret = r.ret_12m > 0 ? '+' + r.ret_12m.toFixed(1) : r.ret_12m.toFixed(1);\n  return '  #' + r.rank + ' ' + r.ticker + ' \\u2014 ' + r.score.toFixed(2) + ' | 12M: ' + ret + '%';\n}).join('\\n');\n\nconst buyCount = signals.filter(s => s.action === 'BUY').length;\nconst sellCount = signals.filter(s => s.action === 'SELL').length;\nconst rankedAt = momentum.ranked_at ? momentum.ranked_at.split('T')[0] : 'Never';\n\nconst msg = `\\ud83d\\ude80 Momentum Portfolio\\n\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\nTop 5 by Score:\\n${top5}\\n\\nHoldings: ${holdings.length} stocks\\nPending: ${buyCount} BUY / ${sellCount} SELL\\nLast Scanned: ${rankedAt}`;\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "a1000000-0000-4000-8000-000000000011",
      "name": "Format Momentum Update",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [2500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a1000000-0000-4000-8000-000000000012",
      "name": "Send Momentum Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2750, 200]
    }
  ],
  "connections": {
    "Schedule 7:35 AM": {
      "main": [[{"node": "Holiday Check", "type": "main", "index": 0}]]
    },
    "Holiday Check": {
      "main": [[{"node": "Refresh Token", "type": "main", "index": 0}]]
    },
    "Refresh Token": {
      "main": [[{"node": "Connect Kite", "type": "main", "index": 0}]]
    },
    "Connect Kite": {
      "main": [[{"node": "Kite Connected?", "type": "main", "index": 0}]]
    },
    "Kite Connected?": {
      "main": [
        [{"node": "Wait Until 8:45", "type": "main", "index": 0}],
        [{"node": "Alert Kite Failed", "type": "main", "index": 0}]
      ]
    },
    "Wait Until 8:45": {
      "main": [[{"node": "Run MWA Scan", "type": "main", "index": 0}]]
    },
    "Run MWA Scan": {
      "main": [[{"node": "Get Accuracy", "type": "main", "index": 0}]]
    },
    "Get Accuracy": {
      "main": [[{"node": "Collect Morning Data", "type": "main", "index": 0}]]
    },
    "Collect Morning Data": {
      "main": [[{"node": "Generate AI Brief", "type": "main", "index": 0}]]
    },
    "Generate AI Brief": {
      "main": [[{"node": "Send Morning Brief", "type": "main", "index": 0}]]
    },
    "Send Morning Brief": {
      "main": [[{"node": "Get Momentum", "type": "main", "index": 0}]]
    },
    "Get Momentum": {
      "main": [[{"node": "Format Momentum Update", "type": "main", "index": 0}]]
    },
    "Format Momentum Update": {
      "main": [[{"node": "Send Momentum Update", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mkumaran-trading-os" }]
}
