n8n_workflows/01_signal_receiver.json
{
  "name": "MKUMARAN - 01 Signal Receiver (TV + Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tv-webhook",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "b1000000-0001-4000-8000-000000000001",
      "name": "TV Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 200]
    },
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "b1000000-0001-4000-8000-000000000002",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 550],
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/api/tv_webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": { "timeout": 60000 }
      },
      "id": "b1000000-0001-4000-8000-000000000003",
      "name": "Forward TV to MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.ai_confidence }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "b1000000-0001-4000-8000-000000000004",
      "name": "Confidence >= 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            {
              "name": "text",
              "value": "=\ud83d\udfe2 TV Signal VALIDATED\nTicker: {{ $json.ticker }}\nDirection: {{ $json.direction }}\nConfidence: {{ $json.ai_confidence }}%\nRecommendation: {{ $json.recommendation }}\nSignal ID: {{ $json.signal_id }}"
            }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "b1000000-0001-4000-8000-000000000005",
      "name": "Notify TV Validated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            {
              "name": "text",
              "value": "=\ud83d\udd34 TV Signal REJECTED\nTicker: {{ $json.ticker }}\nConfidence: {{ $json.ai_confidence }}% (too low)\nRecommendation: {{ $json.recommendation }}"
            }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "b1000000-0001-4000-8000-000000000006",
      "name": "Notify TV Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/api/telegram_webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.message.text || '' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "b1000000-0001-4000-8000-000000000007",
      "name": "Forward Telegram to MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 550]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.parsed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b1000000-0001-4000-8000-000000000008",
      "name": "Is Signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            {
              "name": "text",
              "value": "=\u2705 Signal recorded: {{ $json.ticker }} {{ $json.direction || '' }}\nSignal ID: {{ $json.signal_id || 'N/A' }}"
            }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "b1000000-0001-4000-8000-000000000009",
      "name": "Reply Recorded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 450]
    },
    {
      "parameters": {},
      "id": "b1000000-0001-4000-8000-000000000010",
      "name": "Not a Signal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 650]
    }
  ],
  "connections": {
    "TV Webhook Trigger": {
      "main": [[{"node": "Forward TV to MCP", "type": "main", "index": 0}]]
    },
    "Forward TV to MCP": {
      "main": [[{"node": "Confidence >= 70?", "type": "main", "index": 0}]]
    },
    "Confidence >= 70?": {
      "main": [
        [{"node": "Notify TV Validated", "type": "main", "index": 0}],
        [{"node": "Notify TV Rejected", "type": "main", "index": 0}]
      ]
    },
    "Telegram Trigger": {
      "main": [[{"node": "Forward Telegram to MCP", "type": "main", "index": 0}]]
    },
    "Forward Telegram to MCP": {
      "main": [[{"node": "Is Signal?", "type": "main", "index": 0}]]
    },
    "Is Signal?": {
      "main": [
        [{"node": "Reply Recorded", "type": "main", "index": 0}],
        [{"node": "Not a Signal", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mkumaran-trading-os" }]
}
