n8n_workflows/02_market_monitor.json
{
  "name": "MKUMARAN - 02 Market Monitor (Kill Switch + F&O)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 9-15 * * 1-5"
            }
          ]
        }
      },
      "id": "c1000000-0002-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/order_status",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "c1000000-0002-4000-8000-000000000002",
      "name": "Get Order Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 350]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.kill_switch_active }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c1000000-0002-4000-8000-000000000003",
      "name": "Kill Switch Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/close_all",
        "options": { "timeout": 30000, "allowUnauthorizedCerts": true }
      },
      "id": "c1000000-0002-4000-8000-000000000004",
      "name": "Emergency Close All",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            {
              "name": "text",
              "value": "=\ud83d\udea8 KILL SWITCH TRIGGERED\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\nReason: {{ $json.kill_switch_reason }}\nDaily P&L: Rs.{{ $json.daily_pnl }}\nAll positions being closed!\n\nManual intervention may be needed."
            }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "c1000000-0002-4000-8000-000000000005",
      "name": "Alert Kill Switch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/update_all_trailing_sl",
        "options": { "timeout": 30000, "allowUnauthorizedCerts": true }
      },
      "id": "c1000000-0002-4000-8000-000000000014",
      "name": "Update Trailing SL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/check_exit_strategies",
        "options": { "timeout": 30000, "allowUnauthorizedCerts": true }
      },
      "id": "c1000000-0002-4000-8000-000000000015",
      "name": "Check Exit Strategies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\nconst alerts = [];\n\nconst results = data.results || [];\nfor (const r of results) {\n  const action = r.action || 'HOLD';\n  const ticker = r.ticker || 'UNKNOWN';\n  const pnl = (r.profit_pct || 0).toFixed(1);\n  \n  if (action === 'PARTIAL_50') {\n    alerts.push({ json: { text: `\ud83d\udfe1 ${ticker}: +${pnl}% \u2014 BOOK 50% PROFIT now!`, ticker, action } });\n  } else if (action === 'PARTIAL_25') {\n    alerts.push({ json: { text: `\ud83d\udfe2 ${ticker}: +${pnl}% \u2014 Book another 25%.`, ticker, action } });\n  } else if (action === 'TRAIL_TIGHT') {\n    alerts.push({ json: { text: `\ud83d\ude80 ${ticker}: +${pnl}% \u2014 Tighten trail to 1%!`, ticker, action } });\n  }\n}\n\n// Also check trailing SL updates\nconst slData = $input.all()[0] ? $input.all()[0].json : {};\nconst slResults = slData.results || [];\nfor (const s of slResults) {\n  if (s.updated) {\n    alerts.push({ json: { text: `\ud83d\udd12 ${s.ticker}: SL moved to \u20b9${s.new_sl} (trailing)`, ticker: s.ticker, action: 'TRAIL_UPDATE' } });\n  }\n}\n\nreturn alerts;"
      },
      "id": "c1000000-0002-4000-8000-000000000007",
      "name": "Check SL/Target",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "c1000000-0002-4000-8000-000000000008",
      "name": "Send Trade Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "functionCode": "// Only run F&O check every 15 minutes (on :00, :15, :30, :45)\nconst minute = new Date().getMinutes();\nif (minute % 15 !== 0) {\n  return [];  // Skip — not a 15-min mark\n}\nreturn [{ json: { run_fo: true } }];"
      },
      "id": "c1000000-0002-4000-8000-000000000009",
      "name": "F&O Timer Gate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1000, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/get_fo_signal",
        "options": { "timeout": 30000 }
      },
      "id": "c1000000-0002-4000-8000-000000000010",
      "name": "Get F&O Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 650]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.verdict }}",
              "operation": "notEqual",
              "value2": "UNAVAILABLE"
            },
            {
              "value1": "={{ $json.verdict }}",
              "operation": "notEqual",
              "value2": "NEUTRAL"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "c1000000-0002-4000-8000-000000000011",
      "name": "F&O Has Signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            {
              "name": "text",
              "value": "=\ud83d\udcca F&O Intraday Signal\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\nVerdict: {{ $json.verdict }}\nPCR: {{ $json.pcr || 'N/A' }}\nOI Interpretation: {{ $json.oi_interpretation || 'N/A' }}\nStatus: {{ $json.status || 'N/A' }}"
            }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "c1000000-0002-4000-8000-000000000012",
      "name": "Send F&O Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 550]
    },
    {
      "parameters": {},
      "id": "c1000000-0002-4000-8000-000000000013",
      "name": "F&O No Signal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1750, 750]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[
        {"node": "Get Order Status", "type": "main", "index": 0},
        {"node": "F&O Timer Gate", "type": "main", "index": 0}
      ]]
    },
    "Get Order Status": {
      "main": [[{"node": "Kill Switch Active?", "type": "main", "index": 0}]]
    },
    "Kill Switch Active?": {
      "main": [
        [{"node": "Emergency Close All", "type": "main", "index": 0}],
        [{"node": "Update Trailing SL", "type": "main", "index": 0}]
      ]
    },
    "Emergency Close All": {
      "main": [[{"node": "Alert Kill Switch", "type": "main", "index": 0}]]
    },
    "Update Trailing SL": {
      "main": [[{"node": "Check Exit Strategies", "type": "main", "index": 0}]]
    },
    "Check Exit Strategies": {
      "main": [[{"node": "Check SL/Target", "type": "main", "index": 0}]]
    },
    "Check SL/Target": {
      "main": [[{"node": "Send Trade Alert", "type": "main", "index": 0}]]
    },
    "F&O Timer Gate": {
      "main": [[{"node": "Get F&O Signal", "type": "main", "index": 0}]]
    },
    "Get F&O Signal": {
      "main": [[{"node": "F&O Has Signal?", "type": "main", "index": 0}]]
    },
    "F&O Has Signal?": {
      "main": [
        [{"node": "Send F&O Alert", "type": "main", "index": 0}],
        [{"node": "F&O No Signal", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mkumaran-trading-os" }]
}
