n8n_workflows/03_eod_report.json
{
  "name": "MKUMARAN - 03 EOD Report + Reflection (3:35 PM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "35 15 * * 1-5"
            }
          ]
        }
      },
      "id": "d1000000-0003-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/signal_accuracy",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000002",
      "name": "Get Accuracy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/order_status",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000003",
      "name": "Get Order Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/reflect_trades",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"limit\": 10}",
        "options": { "timeout": 60000 }
      },
      "id": "d1000000-0003-4000-8000-000000000004",
      "name": "Reflect Trades",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/trade_memory_stats",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000005",
      "name": "Get Memory Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "const acc = $input.all()[0].json;\nconst ord = $input.all()[1] ? $input.all()[1].json : {};\nconst reflect = $input.all()[2] ? $input.all()[2].json : {};\nconst memStats = $input.all()[3] ? $input.all()[3].json : {};\nconst mem = memStats.memory || {};\nconst ref = memStats.reflection || {};\n\nconst msg = `\ud83d\udcca EOD Report \u2014 ${new Date().toLocaleDateString('en-IN')}\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\nSignal Accuracy:\\n  Win Rate: ${acc.win_rate || 0}%\\n  Total Signals: ${acc.total_signals || 0}\\n  Open: ${acc.open || 0} | Wins: ${acc.wins || 0} | Losses: ${acc.losses || 0}\\n  Total P&L: Rs.${(acc.total_pnl_rs || 0).toLocaleString('en-IN')}\\n  Expectancy: ${acc.expectancy || 0}%\\n\\nOrder Manager:\\n  Positions: ${ord.open_positions || 0}/${ord.max_positions || 5}\\n  Daily P&L: Rs.${ord.daily_pnl || 0}\\n  Kill Switch: ${ord.kill_switch_active ? '\u26a0\ufe0f ACTIVE' : '\u2705 Normal'}\\n\\nTrade Memory:\\n  Stored: ${mem.total || 0} | Reflected: ${mem.reflected || 0}\\n  High-Conf WR: ${ref.high_conf_win_rate || 0}%\\n  Today Reflected: ${reflect.reflected || 0} trades`;\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "d1000000-0003-4000-8000-000000000006",
      "name": "Format EOD Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000007",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get Accuracy", "type": "main", "index": 0}]]
    },
    "Get Accuracy": {
      "main": [[{"node": "Get Order Status", "type": "main", "index": 0}]]
    },
    "Get Order Status": {
      "main": [[{"node": "Reflect Trades", "type": "main", "index": 0}]]
    },
    "Reflect Trades": {
      "main": [[{"node": "Get Memory Stats", "type": "main", "index": 0}]]
    },
    "Get Memory Stats": {
      "main": [[{"node": "Format EOD Report", "type": "main", "index": 0}]]
    },
    "Format EOD Report": {
      "main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mkumaran-trading-os" }]
}
