n8n_workflows/03_eod_report.json
{
  "name": "MKUMARAN - 03 EOD Report + Momentum (3:35 PM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "35 15 * * 1-5"
            }
          ]
        }
      },
      "id": "d1000000-0003-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/eod_summary",
        "options": { "allowUnauthorizedCerts": true, "timeout": 15000 }
      },
      "id": "d1000000-0003-4000-8000-000000000002",
      "name": "Get EOD Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            { "name": "text", "value": "={{ $json.report }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000007",
      "name": "Send EOD Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/api/momentum",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000009",
      "name": "Get Momentum",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "functionCode": "const momentum = $input.first().json;\nconst rankings = momentum.rankings || [];\nconst holdings = momentum.holdings || [];\nconst signals = momentum.signals || [];\n\nif (rankings.length === 0) {\n  return [];\n}\n\nconst top3 = rankings.slice(0, 3).map(r => r.ticker + ' #' + r.rank).join(', ');\nconst buyCount = signals.filter(s => s.action === 'BUY').length;\nconst sellCount = signals.filter(s => s.action === 'SELL').length;\nconst rankedAt = momentum.ranked_at ? momentum.ranked_at.split('T')[0] : 'Never';\n\nconst msg = `\\ud83d\\ude80 Momentum Status\\n\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\nHoldings: ${holdings.length} | Last Scan: ${rankedAt}\\nTop 3: ${top3}\\nSignals: ${buyCount} BUY / ${sellCount} SELL`;\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "d1000000-0003-4000-8000-000000000010",
      "name": "Format Momentum Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000011",
      "name": "Send Momentum Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get EOD Summary", "type": "main", "index": 0}]]
    },
    "Get EOD Summary": {
      "main": [[{"node": "Send EOD Telegram", "type": "main", "index": 0}]]
    },
    "Send EOD Telegram": {
      "main": [[{"node": "Get Momentum", "type": "main", "index": 0}]]
    },
    "Get Momentum": {
      "main": [[{"node": "Format Momentum Status", "type": "main", "index": 0}]]
    },
    "Format Momentum Status": {
      "main": [[{"node": "Send Momentum Status", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "3",
  "tags": [{"name": "mkumaran-trading-os"}]
}
