n8n_workflows/03_eod_report.json
{
  "name": "MKUMARAN - 03 EOD Report + Reflection + Momentum (3:35 PM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "35 15 * * 1-5"
            }
          ]
        }
      },
      "id": "d1000000-0003-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Check if today is a market holiday (NSE holidays 2026)\nconst now = new Date();\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst ist = new Date(now.getTime() + istOffset);\nconst dateStr = ist.toISOString().slice(0, 10);\n\nconst holidays = [\n  '2026-01-15', '2026-01-26', '2026-03-03', '2026-03-26',\n  '2026-03-31', '2026-04-03', '2026-04-14', '2026-05-01',\n  '2026-05-28', '2026-06-26', '2026-09-14', '2026-10-02',\n  '2026-10-20', '2026-11-10', '2026-11-24', '2026-12-25'\n];\n\nif (holidays.includes(dateStr)) {\n  return [];  // Skip — market holiday\n}\nreturn [{ json: { trading_day: true, date: dateStr } }];"
      },
      "id": "d1000000-0003-4000-8000-000000000016",
      "name": "Holiday Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [375, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/signal_accuracy",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000002",
      "name": "Get Accuracy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/order_status",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000003",
      "name": "Get Order Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/reflect_trades",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"limit\": 10}",
        "options": { "timeout": 60000 }
      },
      "id": "d1000000-0003-4000-8000-000000000004",
      "name": "Reflect Trades",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/trade_memory_stats",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000005",
      "name": "Get Memory Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/tools/portfolio_exposure",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000008",
      "name": "Get Portfolio Exposure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "functionCode": "const acc = $input.all()[0].json;\nconst ord = $input.all()[1] ? $input.all()[1].json : {};\nconst reflect = $input.all()[2] ? $input.all()[2].json : {};\nconst memStats = $input.all()[3] ? $input.all()[3].json : {};\nconst portfolio = $input.all()[4] ? $input.all()[4].json : {};\nconst mem = memStats.memory || {};\nconst ref = memStats.reflection || {};\n\nreturn [{ json: {\n  report_type: 'eod',\n  data: {\n    date: new Date().toLocaleDateString('en-IN'),\n    accuracy: { win_rate: acc.win_rate, total_signals: acc.total_signals, open: acc.open, wins: acc.wins, losses: acc.losses, total_pnl_rs: acc.total_pnl_rs, expectancy: acc.expectancy },\n    orders: { open_positions: ord.open_positions, max_positions: ord.max_positions, daily_pnl: ord.daily_pnl, kill_switch_active: ord.kill_switch_active },\n    portfolio: { deployed_pct: portfolio.deployed_pct, sector_breakdown: portfolio.sector_breakdown },\n    memory: { total: mem.total, reflected: mem.reflected, high_conf_win_rate: ref.high_conf_win_rate, today_reflected: reflect.reflected }\n  }\n} }];"
      },
      "id": "d1000000-0003-4000-8000-000000000006",
      "name": "Collect EOD Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://money.shadowmarket.ai/tools/ai_report",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ report_type: $json.report_type, data: $json.data }) }}",
        "options": { "timeout": 60000, "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000017",
      "name": "Generate AI Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1625, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            { "name": "text", "value": "={{ $json.report }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000007",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://money.shadowmarket.ai/api/momentum",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000009",
      "name": "Get Momentum",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "functionCode": "const momentum = $input.first().json;\nconst rankings = momentum.rankings || [];\nconst holdings = momentum.holdings || [];\nconst signals = momentum.signals || [];\n\nif (rankings.length === 0) {\n  return [];\n}\n\nconst top3 = rankings.slice(0, 3).map(r => r.ticker + ' #' + r.rank).join(', ');\nconst buyCount = signals.filter(s => s.action === 'BUY').length;\nconst sellCount = signals.filter(s => s.action === 'SELL').length;\nconst rankedAt = momentum.ranked_at ? momentum.ranked_at.split('T')[0] : 'Never';\n\nconst msg = `\\ud83d\\ude80 Momentum Status\\n\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\u2501\\nHoldings: ${holdings.length} | Last Scan: ${rankedAt}\\nTop 3: ${top3}\\nSignals: ${buyCount} BUY / ${sellCount} SELL`;\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "d1000000-0003-4000-8000-000000000010",
      "name": "Format Momentum Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7601124337:AAHOqcdTTNbLJ_RoxAUXTDOtQ6mN9qCOHEk/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "=699992965" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "d1000000-0003-4000-8000-000000000011",
      "name": "Send Momentum Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Holiday Check", "type": "main", "index": 0}]]
    },
    "Holiday Check": {
      "main": [[{"node": "Get Accuracy", "type": "main", "index": 0}]]
    },
    "Get Accuracy": {
      "main": [[{"node": "Get Order Status", "type": "main", "index": 0}]]
    },
    "Get Order Status": {
      "main": [[{"node": "Reflect Trades", "type": "main", "index": 0}]]
    },
    "Reflect Trades": {
      "main": [[{"node": "Get Memory Stats", "type": "main", "index": 0}]]
    },
    "Get Memory Stats": {
      "main": [[{"node": "Get Portfolio Exposure", "type": "main", "index": 0}]]
    },
    "Get Portfolio Exposure": {
      "main": [[{"node": "Collect EOD Data", "type": "main", "index": 0}]]
    },
    "Collect EOD Data": {
      "main": [[{"node": "Generate AI Report", "type": "main", "index": 0}]]
    },
    "Generate AI Report": {
      "main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]
    },
    "Send Telegram": {
      "main": [[{"node": "Get Momentum", "type": "main", "index": 0}]]
    },
    "Get Momentum": {
      "main": [[{"node": "Format Momentum Status", "type": "main", "index": 0}]]
    },
    "Format Momentum Status": {
      "main": [[{"node": "Send Momentum Status", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mkumaran-trading-os" }]
}
